In [1]:
import pandas as pd

In [2]:
customer = pd.read_excel('DATA SET.xlsx', sheet_name = 1)
ticket = pd.read_excel('DATA SET.xlsx', sheet_name = 2)

## Working with customer sheet

In [3]:
customer.dtypes

customerid    object
DOB            int64
gender        object
address       object
Website       object
job           object
industry      object
dtype: object

In [4]:
#rename column headers

In [5]:
customer.rename(columns={'customerid':'customer_id','DOB':'age'}, inplace = True)

In [6]:
#remove unecessary columns

In [7]:
customer = customer.drop(columns = {'address','Website'})

In [8]:
customer.isnull().sum()

customer_id       0
age               0
gender            0
job               0
industry       1122
dtype: int64

In [9]:
customer.duplicated().sum()

0

In [10]:
#convert number to yyyy in year_of_birth column

In [11]:
customer.head()

  customer_id    age gender          job        industry
0  0000000014  36268     Nữ      student        computer
1  0000000034  35901    Nam      student  health service
2  0000000051  34319    Nam  blue collar       economics
3  0000000081  36472    Nam      student       economics
4  0000000098  34608    Nam  blue collar  health service

In [12]:
customer['age'] = pd.to_datetime(customer['age'], unit='D', origin='1899-12-30', errors='coerce').dt.year

In [13]:
customer['age'] = 2024 - customer['age']

In [14]:
#customer['age'] = customer['age'].astype(str).apply(lambda x: x[:-2])

In [15]:
#change values in gender column

In [16]:
customer['gender'] = customer['gender'].str.replace('Nam','male')
customer['gender'] = customer['gender'].str.replace('Nữ','female')

In [17]:
#uppercase first character

In [18]:
customer['gender'] = customer['gender'].str.capitalize()
customer['job'] = customer['job'].str.capitalize()
customer['industry'] = customer['industry'].str.capitalize()

In [19]:
#repalce NaN by None in industry column

In [20]:
customer['industry'] = customer['industry'].fillna('None')

## Working with ticket sheet

In [22]:
ticket.isna().sum()

orderid         96
cashier          0
saledate        96
total           96
customerid       0
ticketcode       0
date             0
time             0
slot             0
room             0
film             0
slot type        0
ticket type      0
ticket price     0
popcorn         96
dtype: int64

In [23]:
#remove NaN rows

In [24]:
ticket = ticket.dropna()

In [25]:
ticket[ticket['orderid'].isna()]

Empty DataFrame
Columns: [orderid, cashier, saledate, total, customerid, ticketcode, date, time, slot, room, film, slot type, ticket type, ticket price, popcorn]
Index: []

In [26]:
#remove unecessary columns

In [27]:
ticket = ticket.drop(columns = {'saledate', 'total', 'ticket type'})

In [28]:
ticket.rename(columns = {'ticketcode':'ticket_code', 'slot type':'ticket_type', 'ticket price':'ticket_price' }, inplace = True)

In [29]:
#change values in ticket_type and popcorn column

In [30]:
ticket['ticket_type'] = ticket['ticket_type'].str.replace('ĐƠN','Single')
ticket['ticket_type'] = ticket['ticket_type'].str.replace('ĐÔI','Pair')

In [31]:
ticket['popcorn'] = ticket['popcorn'].str.replace('Có','1')
ticket['popcorn'] = ticket['popcorn'].str.replace('Không','0')

In [32]:
#Add days_of_week column

In [33]:
ticket['days_of_week'] = pd.to_datetime(ticket['date']).dt.weekday

In [34]:
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('0','Mon')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('1','Tue')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('2','Wed')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('3','Thurs')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('4','Fri')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('5','Sat')
ticket['days_of_week'] = ticket['days_of_week'].astype(str).replace('6','Sun')

In [35]:
#Add group_time column

In [36]:
ticket['time'] = ticket['time'].astype(str).apply(lambda x: x[:-3])

In [37]:
# Define time intervals and corresponding session names
time_intervals = [(21, 24), (0, 5), (5, 12), (12, 18), (18, 21)]
session_names = ['Night', 'Night', 'Morning', 'Afternoon', 'Evening']

# Function to map time to session
def map_to_session(time):
    hour = time.hour
    for i, (start, end) in enumerate(time_intervals):
        if start <= hour < end:
            return session_names[i]
    return 'Unknown'  

# Apply the function to create the 'session' column
ticket['session'] = pd.to_datetime(ticket['time']).apply(map_to_session)

C:\Users\tranv\AppData\Local\Temp\ipykernel_4900\4201616613.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ticket['session'] = pd.to_datetime(ticket['time']).apply(map_to_session)

In [38]:
ticket['session'].value_counts()

session
Evening      13766
Afternoon    13405
Night         4127
Morning       4080
Name: count, dtype: int64

In [39]:
ticket['session'].value_counts()

session
Evening      13766
Afternoon    13405
Night         4127
Morning       4080
Name: count, dtype: int64

In [41]:
#Import in4_film table

In [42]:
in4_film = pd.read_excel('in4_film.xlsx')

In [43]:
ticket1 = pd.merge(ticket, in4_film, on='film', how='left')

In [46]:
#romove outlining values in age column
customer = customer.drop(customer[customer['age'] < 0].index)

In [49]:
#export the customer and ticket1

In [50]:
customer.to_excel('customer.xlsx', index=False)

In [51]:
ticket1.to_excel('ticket1.xlsx', index=False)